* {
    margin: 0;
}
.container {
    background-color: black;
    display: grid;
    grid-template-areas: "cima1 cima2 cima3"
                         "baixo1 baixo2 baixo3";
    grid-template-rows: 200px 450px;
    grid-template-columns: 150px 1fr 200px;
}
.header1 {
    background-color: lightblue;
    grid-area: cima1;
}
#img01 {
    padding: 20px;
}
.header2 {
    background-color:  lemonchiffon;
    grid-area: cima2;
}
#p01 {
    padding-top: 70px;
    padding-left: 400px;
}
.header3 {
    background-color:  lightpink;
}
.footer1 {
    background-color: lightseagreen;
    grid-area: baixo1;
}
.footer2 {
    background-color: lightsalmon;
    grid-area: baixo2;
}
.footer3 {
    background-color: violet;
    grid-area: baixo3;
}