* {
    margin: 0;
}
.box {
    width: 1fr;
    height: 340px;
    display: grid;
    grid-template-areas:'header header header'
                        'menu main right'
                        'menu footer footer';
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 100px 100px 100px;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}
.box div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
.item1 {
   grid-area: header;
}
.item2 {
    grid-area: menu;
}
.item3 {
    grid-area: main;
}
.item4 {
    grid-area: right;
}
.item5 {
    grid-area: footer;
}